.notifications {
  border: 2px solid var(--main-color);
  position: relative;
  padding: 20px;
}

.notifications ul {
  padding: 15px 35px;
}

.notifications button {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 3px;
}

ul li {
  color: var(--main-color);
}

ul li:first-child {
  color: blue;
}
